<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title"><%= @customer.nickname %>さんの漫画一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>評価</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customer.posts.each do |post| %>
          <% next if post.manga == nil %>
          <tr>
            <td><%= post.manga.title %></td>
            <td><%= post.manga.author %></td>
            <td>
              <div id="star<%= post.id %>"></div>
              <script>
                $('#star<%= post.id %>').raty({
                size      : 36,
                starOff : '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                half      : false,
                readOnly: true,
                score: <%= post.star %>,
                });
              </script>
            </td>
            <td><%= link_to "詳細",manga_post_show_path(post.manga.id, post.id),class: "btn btn-success" %></td>
            <td><%= link_to "編集",manga_post_edit_path(manga_id: post.manga.id, post_id: post.id), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>