<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">マイページ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <% if @customer.image.attached? %>
        <%= image_tag @customer.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>公開ステータス</td>
          <td>
            <% if @customer.introduction? %>
              <%= @customer.introduction %>
            <% else %>
              <%="未入力" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <div class="d-flex align-items-center justify-content-center" style="height:100px;">
      <%= link_to "プロフィール編集",customers_my_page_edit_path,class: "btn btn-danger mr-5 w-25" %>
      <%= link_to "本一覧ページ",manga_page_path,class: "btn btn-primary w-25" %>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height:100px;">
      <%= link_to "漫画新規投稿",mangas_path,class: "btn btn-success w-25" %>
    </div>
</div>