<div class="container">
  <div class="row">
    <div class="">
      <h3 class="title">マイページ</h3>
    </div>
  </div>
      <h5>会員ID
        <%= @customer.id %>
      </h5>
      <h5>
        <%= @customer.nickname %>
      </h5>
      <h5>
        <%= @customer.email %>
      </h5>
      <h5>
        <% if @customer.introduction? %>
          <%= @customer.introduction %>
        <% else %>
          <%="未入力" %>
        <% end %>
        </h5>
        <%= link_to "プロフィール編集",customers_my_page_edit_path,class: "btn btn-danger" %>
        |
        <%= link_to "本一覧ページ",posts_path,class: "btn btn-primary" %>
</div>