<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">登録漫画一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= search_form_for @q do |f| %>
        <%= f.text_field :title_cont %>
        <%= f.submit "検索" %>
      <% end %>
      <% if @manga_search.present? %>
        <table class="table">
          <tr>
            <th>タイトル</th>
            <th>著者</th>
          </tr>
        <% @isbn_manga.each do |manga| %>
          <tr>
            <td><%= link_to (image_tag(manga.large_image_url, style: "width: 70px;height: 100px;display: inline-block;")), manga.item_url %></td>
            <td><%= manga.title %></td>
            <td><%= manga.author %></td>
          </tr>
        <% end %>
        </table>
      <% else %>
        <p>検索結果はありません</p>
      <% end %>
    </div>
  </div>
</div>