<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">漫画新規登録</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class='content'>
        <div id="search-box">
          <%= form_tag('/admin/mangas/new', method: :get) do %>
            <%= text_field_tag :good, "",  id: "good_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
          <% end %>
        </div>
        <div id="search-box">
          <%= form_tag('/admin/mangas/new', method: :get) do %>
            <%= text_field_tag :good, "",  id: "good_search", name: "isbn", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">検索結果</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div id='good_list'>
        <% if @mangas.present? %>
          <% @mangas.each do |manga| %>
        <div class="list">
          <%= form_with model: @manga,url: admin_mangas_path,local: true do |f| %>
            <table class="table">
              <tr>
                <td>
                  <% if manga.large_image_url.present? %>
                    <%= link_to (image_tag(manga.large_image_url, style: "width: 70px;height: 100px;display: inline-block;")), manga.item_url %>
                  <% end %>
                </td>
                <td><%= manga.title %></td>
                <td><%= manga.author %></td>
                  <%= f.hidden_field :title, value: manga.title %>
                  <%= f.hidden_field :author, value: manga.author %>
                  <%= f.hidden_field :rakuten, value: manga.item_url %>
                  <%= f.hidden_field :isbn, value: manga.isbn %>
                <td><%= f.submit "新規登録",class: "btn btn-success" %></td>
              </tr>
            </table>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>