<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">管理者ログイン</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <table class="table table-borderless">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tr>
          <td><%= f.label :email,"メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :password,"パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <% if devise_mapping.rememberable? %>
          <td>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </td>
        </tr>
          <% end %>
      </table>
        <%= f.submit "ログイン",class: "btn btn-primary w-50 mt-2" %>
        <% end %>
    </div>
  </div>
</div>