<div class="container">
  <div class="row">
    <div class="">
      <h3 class="title">会員詳細/編集</h3>
        <%= form_with model: @customer,url: admin_customer_path(@customer) do |f| %>
          <%= f.file_field :image, accept: "image/*" %>
        <h5>会員ID</h5>
          <%= @customer.id %>
          <h5>会員ニックネーム</h5>
            <%= f.text_field :nickname %>
          <h5>メールアドレス</h5>
            <%= f.text_field :email %>
          <h5>会員ステータス</h5>

          <%= link_to "本一覧",admin_customers_manga_index_path,class: "btn btn-primary" %>
          |
          <%= f.submit "変更",class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>