<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">会員詳細/編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <% if @customer.image.attached? %>
        <%= image_tag @customer.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <table class="table table-borderless">
        <tr>
          <td>ニックネーム</td>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td><%= @customer.introduction %></td>
        </tr>
        <tr>
          <td>退会ステータス</td>
          <td>
            <% if @customer.is_deleted %>
              <h6 class="text-secondary">退会</h6>
            <% else %>
              <h6 class="text-success">有効</h6>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height:200px;">
    <%= link_to "本一覧",manga_post_list_path(@customer.id),class: "btn btn-primary mr-5 w-25" %>
  </div>
</div>