<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">ジャンル新規登録</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-8">
      <%= form_with model: @genre,url:  admin_genres_path do |f| %>
        <h5>
          <%= f.text_field :name %>
          <%= f.submit "新規登録",class: "btn btn-success" %>
        </h5>
      <% end %>
    </div>
  </div>
    <h4 class="title">ジャンル一覧</h4>
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <table class="table">
          <% @genres.each do |genre| %>
            <tr>
              <td>
                <div class="text-right">
                  <%= genre.name %>
                </div>
              </td>
              <td>
                <div class="text-right">
                  <%= link_to "編集する",edit_admin_genre_path(genre),class: "btn btn-success" %>
                </div>
              </td>
              <td>
                <div class="text-right">
                  <%= link_to "削除する",admin_genre_path(genre),method: :delete,class: "btn btn-danger" %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>